/* General styles/Whole page */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "inter";
  color: #343a40ff;
}

/* Smooth scrolling */

html {
  scroll-behavior: smooth;
}

/* Whitespace between sections/section headers */
/* Select all but not hero. */
section:not(:first-child) {
  padding-bottom: 64px;
}
.hero {
  padding-bottom: 2%;
}

h2 {
  margin: 0 0 20px 8px;
}

.row {
  margin: 18px 0;
}

.project-button {
  background-color: #1db588;
  color: white;
}

.project-button:hover,
.project-button:active {
  background-color: #168d6a;
  color: white;
}

/* End General styles/Whole page */

/*Nav/ Header  */

.navbar {
  background-image: linear-gradient(-90deg, #63e6be, #74c0fc);
  /* teal 3 and blue 3 from opencolor.com */
}

.nav-link {
  font-size: 16px;
  color: white !important;
  font-weight: 500;
}

.nav-link:hover {
  font-weight: 600;
}

.navbar-brand {
  font-size: 24px;
  font-weight: 700;
  margin-top: 4px;
  margin-left: 8px;
}

.navbar-toggler:focus {
  outline: none;
}

/* Appear on right side when hamburger appears */
@media (max-width: 1000px) {
  .nav-link {
    text-align: right;
  }
}
/* End Nav/Header */

/* Main */

main,
.jumbotron,
.footer {
  background-color: #f1f9ff;
}
/* Hero Section */
.hero {
  margin: 0;
}

.hero .jumbotron {
  height: 100vh;
  background-image: url(../images/laptop1.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

/* @media (max-width: 1200px) {
  .hero {
    height: 70vh;
  }
  .hero .jumbotron {
    background-size: 100%;
  }
} */

.hero-container h1 {
  font-weight: 600;
}

.hero-greeting h2 {
  margin: 0;
}

/* End Hero Section */
/* Work Projects */

.card {
  box-shadow: 30px 30px 30px rgba(15, 15, 13, 0.04);
  height: 60vh;
  margin: 12px;
}

.card:hover {
  box-shadow: 30px 30px 30px rgba(15, 15, 13, 0.04);
  transform: scale(1.1);
  transition: 0.3s;
}
.card-img-top {
  background-color: rgba(8, 212, 248, 0.326);
  padding: 5px;
  height: 25vh;
}

.card-body {
  height: 30vh;
}

/* Modals */

.modal {
  height: 10px;
}

img {
}

.modal-content {
  height: 75vh;
  width: 50vw;
}

/* End Work Projects Section */

/* Work Projects Section */
#work .container-fluid {
  background-color: #f1f9ff;
}

/* End Work Projects Section*/

/* Skill Section */
#about .jumbotron {
  background-color: #effdf9;
}

/* Logos */
.icon-logo {
  color: #228be6;
  font-size: 64px;
  margin: 32px 0 12px 0;
}

.fa-square-check {
  color: #1db588;
  font-size: 64px;
}

.js-button {
  color: rgb(63, 62, 62);
  margin: 10px;
  padding: 12px;
  background-color: #1db58733;
}

.skills-title {
  font-size: 24px;
  font-weight: 600;
}
/* End Skill Section */

/* About Section */
.profile-pic {
  border-radius: 100%;
}

.about-content {
  font-size: 18px;
  line-height: 1.5;
}

/* End About Section */

footer,
footer .jumbotron {
  background-color: #effdf9;
}

.icon-footer {
  color: black;
  font-size: 32px;
  margin: 32px 0 12px 0;
}

.return-button {
  color: white;
  background-color: #168d6a;
}

.return-button:hover {
  color: white;
  background-color: #168d6a;
}

.fa-arrow-up {
  color: white;
  margin: 0 24px;
}
