/* General styles/Whole page */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "inter";
  color: #343a40ff;
}

/* Smooth scrolling */

html {
  scroll-behavior: smooth;
}

/* Whitespace between sections/section headers */
/* Select all but not hero. */
section:not(:first-child) {
  padding-bottom: 64px;
}

h2 {
  margin: 0 0 20px 8px;
}

.row {
  margin: 18px 0;
}

.project-button {
  background-color: #1db588;
  border-radius: 24px;
  color: white;
}

.project-button:hover,
.project-button:active {
  background-color: #168d6a;
  color: white;
  box-shadow: 10px 10px 10px #168d693f;
}

.project-button:active {
  font-weight: 700;
}

/* End General styles/Whole page */

/*Nav/ Header  */

.navbar {
  background-image: linear-gradient(-90deg, #63e6be, #74c0fc);
  /* teal 3 and blue 3 from opencolor.com */
}

.nav-link {
  font-size: 16px;
  color: white !important;
  font-weight: 500;
}

.nav-link:hover {
  font-weight: 600;
}

.navbar-brand {
  font-size: 24px;
  font-weight: 700;
  margin-top: 4px;
  margin-left: 8px;
}

.navbar-toggler:focus {
  outline: none;
}

/* Appear on right side when hamburger appears */
@media (max-width: 1000px) {
  .nav-link {
    text-align: right;
  }
}
/* End Nav/Header */

/* Main */

main,
.jumbotron,
.footer {
  background-color: #f1f9ff;
}
/* Hero Section */
.hero {
  padding-bottom: 2%;
}

.hero .jumbotron {
  height: 100vh;
  background-image: url(../images/laptop1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-container h1 {
  font-weight: 600;
}

.hero-greeting h2 {
  margin: 0;
}

/* End Hero Section */
/* Work Projects */

.card {
  border: 10px solid rgba(13, 189, 224, 0.119);
  margin: 5% auto;
  height: 70vh;
  border-radius: 24px;
  opacity: 0.7;
  position: relative;
}
.card:hover {
  box-shadow: 30px 30px 30px rgba(15, 15, 13, 0.04);
  transform: scale(1.01);
  transition: 0.3s;
  opacity: 1;
}
.card-img-top {
  height: 40vh;
  border-radius: 12px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  object-fit: cover;
  object-position: top;
}

.card-body {
  height: 30vh;
  background-color: white;
}

.card-body {
  border-radius: 24px;
}

/* Modals */
.modal {
  border-radius: 24px;
}

.modal-footer a {
  background-color: #1db588;
  border-radius: 24px;
  padding: 10px;
  width: 90%;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.btn-secondary {
  border: none;
  border-radius: 18px;
  padding: 1% 2%;
  background-color: rgba(221, 34, 34, 0.621);
}

.btn-secondary:hover {
  border-radius: 18px;

  background-color: rgba(221, 34, 34, 0.621);
}

.modal-footer a:hover {
  background-color: #168d6a;
  box-shadow: 10px 10px 10px #168d693f;
}
/* End Work Projects Section

/* Work Projects Section */
#work .container-fluid {
  background-color: #f1f9ff;
}

/* End Work Projects Section*/

/* Skill Section */
#about .jumbotron {
  background-color: #effdf9;
}

/* Logos */
.icon-logo {
  color: #228be6;
  font-size: 8vh;
  margin: 3% 0 1% 0;
}

.fa-square-check {
  color: #1db588;
  font-size: 8vh;
  margin: 3% 0 1% 0;
}

.js-button {
  color: rgb(63, 62, 62);
  margin: 2%;
  padding: 2%;
  background-color: #1db58733;
}

.skills-title {
  font-size: 3vh;
  font-weight: 600;
  margin: 3% 0 1% 0;
}

/* End Skill Section */

/* About Section */
.profile-pic {
  border-radius: 100%;
}

.about-content {
  font-size: 18px;
  line-height: 1.5;
}

/* End About Section */

footer,
footer .jumbotron {
  background-color: #effdf9;
}

.icon-footer {
  color: black;
  font-size: 32px;
  margin: 32px 0 12px 0;
}

.return-button {
  color: white;
  background-color: #168d6a;
}

.return-button:hover {
  color: white;
  background-color: #168d6a;
}

.fa-arrow-up {
  color: white;
  margin: 0 24px;
}
